<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>


      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- ICI LES INFOS RECUP DE FACEBOOK -->
  <fb-infos></fb-infos>

  <button ion-button navPush="MenuPage">next</button>


  <button ion-button full (click)="FBlogin();" class="facebook">
    <ion-icon ico-left name="logo-facebook"></ion-icon> &nbsp;
    Connexion avec Facebook
  </button>

</ion-content>
