<ion-split-pane when="md">
        <ion-menu [content]="content">
      
          <ion-header>
            <ion-toolbar>
              <!-- afficher ici les infos facdebook-->
              info facebook ici 
            </ion-toolbar>
          </ion-header>
      
         
      
        </ion-menu>
        <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
      </ion-split-pane>
      